body {
    background-color: white;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgba(235, 235, 235, 0.432);
    display: flex;
    float: left;
}

.box {
    background-color: rgb(247, 169, 75);
    position: relative;
    margin-left: 5%;
    padding: 1%;
    text-align: left;
    width: calc(100% / 3)
}

.info {
    background-color: darkseagreen;
    position: relative;
    width: 100%;
    display: inline-flex;
    height: 150px;
    margin-top: 20px;
    float: left;
    padding: 2%;
}

.btn {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

#right {
    margin-right: 5%;
}

#balanceTitle {
    position: absolute;
    display: inline-flex;
}

#balance {
    position: absolute;
    display: inline-flex;
    left: 70%;
}

#current-loan {
    position: absolute;
    top: 35%;
}

#pay {
    display: inline-flex;
}

#sum-of-loan {
    position: absolute;
    left: 70%;
    top: 35%;
}

#salary {
    position: absolute;
    display: inline-flex;
    left: 70%;
}

#repay {
    background-color: rgb(223, 82, 16);
    top: 70%;
    left: 10%;
    padding: 7px 10px;
    font-weight: bold;
}

#loan {
    top: 70%;
    left: 55%;
    background-color: rgb(79, 231, 180);
    padding: 7px 8px;
}

#bank {
    background-color: rgb(243, 243, 66);
    top: 70%;
    padding: 7px 20px;
}

#work {
    background-color: rgb(93, 131, 248);
    top: 70%;
    left: 60%;
    padding: 7px 20px;
}

#komputers {
    left: 20px;
    width: auto;
    cursor: pointer;
}

#komputerFeatures {
    font-size: 13px;
}

#price {
    right: 20%;
    top: 10%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: inline-flex;
    margin-right: 5%;
    margin-top: 6%;
}

#descripInfo {
    background-color: rgb(8, 185, 61);
    position: relative;
    padding: 8px;
    margin-top: 5%;
    height: 25%;
    border: rgb(1, 109, 24);
    border-style: solid;
    max-width: 300px;
    font-size: 15px;
    text-align: left;
    margin-left: 13%;
    margin-right: 8%;
}

#komputerName {
    position: absolute;
    left: 28%;
}

#komputerImage {
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: fill;
}

#buy {
    background-color: darkorange;
    position: relative;
    cursor: pointer;
    font-style: bold;
    text-align: center;
    width: 160px;
    padding: 7px 25px;
    margin-top: 5%;
    height: 25%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}