body{
    background-color: white;
    font-family: sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgba(235, 235, 235, 0.432);
    display: flex;
    float: left;
}   

.box{
    background-color: rgb(247, 169, 75);
    display: inline-block;
    position: relative;
    margin-left: 5em;
    padding: 1%;
    text-align: left;
    width: calc(100% / 3)
}

#left{

}

#middle{

}

#right{ 
    margin-right: 5em;
}

.info{
    background-color: darkseagreen;
    position: relative;
    width: 100%;
    /* left: 10px;
    top: 400px; */
    /* display: inline-flex; */
    height: 150px;
    margin-top: 20px;
    float: left;
    padding: 2%;
    /* text-align: right; */
}

#balance{
    position: absolute;
    top: 25%;
    left: 70%;
}

#pay{
    left: 10%;
    bottom: 20%;
}

#sum-of-loan{
    position: absolute;
    top: 40%;
    left: 70%;
}

#salary{
    position: absolute;
    top: 25%;
    left: 70%;
}

#repay{
    background-color:rgb(223, 82, 16);
    top: 70%;
    left: 5%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    padding: 7px 10px;
    font-weight: bold;
}

.btn{
    position: relative;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

#loan{
    background-color:rgb(79, 231, 180);
    width: 100px;
    left: 50%;
    /* top: 50%; */
    padding: 7px 8px;
}

#bank{
    background-color:rgb(243, 243, 66);
    /* cursor: pointer; */
    left: 10px;
    top: 50px;
    /* text-align: center; */
    padding: 7px 20px;
    /* font-weight: bold; */
}

#work{
    background-color:rgb(93, 131, 248);
    /* cursor: pointer; */
    left: 30px;
    top: 50px;
    /* text-align: center; */
    padding: 7px 20px;
    /* font-weight: bold; */
}

#komputers{
    /* position: relative; */
    left:20px;
    width: auto;
    cursor: pointer;
}
#komputerFeatures{
    font-size: 13px;
}

#price{
    right: 20%;
    top: 10%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display:inline-flex;
    margin-right: 5%;
}

#descripInfo{
    background-color: rgb(8, 185, 61);
    position: relative;
    padding: 8px;
    border: rgb(1, 109, 24);
    border-style:solid;
    max-width: 300px;
    font-size: 15px;
    text-align: left;
    display:inline-flex; 
    margin-left: 5%;
    margin-right: 5%;
    /* width: calc(100% / 3); */
}


#komputerImage{
    position: relative;
    width: 150px;
    height: 150px;
    object-fit:fill;
}

#buy{
    background-color: darkorange;
    position: relative;
    cursor: pointer;
    font-style: bold;
    text-align: center;
    width: 160px;
    padding: 7px 25px;
    /* margin-right: 5%; */
    font-weight: bold;
    text-align: center;
    display:inline-block;

}